<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h2>Products</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="create">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="description" placeholder="Description">
        <input type="number" name="quantity" placeholder="Quantity">
        <button>Submit</button>
    </form>
    {% include 'product_list.html'%}
    
    {% endblock %}

</body>
</html>